.park-index {
  margin: 1%;
}

.map {
  display:none;
  float: left;
}

.pano {
  float: left;
  height: 200px;
  width: 400px;
}

.features-display img {
  width: 10%;
  height: 10%;
}

#feature-checklist {
  overflow-y: scroll;
  height: 45rem;
  width: 25rem;
  /*max-width: 100%;*/
  border-style: solid;
  padding: 1%;
}

label img {
  width: 15%;
  height: 15%;
}

ul {
  list-style-type: none;
}
