.row {
  margin-bottom: 30px;
}

.main-nav li{
  list-style: none;
  display: inline;
  font-size: 2.4rem;
}

footer {
  text-align: center;
}

@media (max-width: 1070px) {
  .main-nav ul {
    display: none;
  }
  #logo {
    width: 48%;
  }
  #weather {
    width: 48%;
  }
}
