.row {
  margin-bottom: 30px;
  background-color: #f2f2f2;
  padding: 5px;
  margin: 0;
}

.main-nav li {
  font-size: 20px;
  margin-top: 57px;
}

header{
  background-image:url("/media/111.jpg");
}

footer {
  text-align: center;
  background-color: #53a91a !important;
}

@media screen and (max-width: 550px) {
  #feature-checklist {
    height: 300px;
  }

  #googleMap {
    height: 400px;
  }
}
