nav ul li {
  font-size: 2.4rem;
  line-height: 3rem;
}

.row {
  margin-bottom: 30px;
}

footer {
  text-align: center;
}

@media only screen
and (min-width: 375px)
and (max-width: 667px){
  .row{
    width:100%;
  }
}
