#logo {
  font-family: 'Damion', cursive;
  font-size: 4.5rem;
}
 
#googleMap {
  width: 100%;
  height: 600px;
}

#feature-checklist {
  overflow-y: scroll;
  border-style: solid;
  height: 594px;
  padding: 0 15px 0 15px;
  margin-bottom: 0;
}

label img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.features-display img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.pano {
  width: 100%;
  height: 250px;
}

.page-pano {
  width: 100%;
  height: 400px;
}

#park-page {

}

#park-page h1 {
  text-align: center;
}

.page-map {
  width: 100%;
  height: 40rem;
}

.fontImg img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
