.main-nav li{
  list-style: none;
  display: inline;
  padding: .2em .2em .2em;
}

.main-nav ul li: hover{
   color: #ffff00;
}

@media only screen
and (min-width: 375px)
and (max-width: 667px){
  .row{
    width:100%
  }
}
