#logo {
  font-family: 'Damion', cursive;
  font-size: 4.4rem;
  margin-top: 31px;
}

#weather {
  display: block;;
  font-size: 1.9rem;
}

#weather small {
  font-size: 1.2rem;
}

#weather-img {
  float: left;
  width: 55px;
  height: 55px;
  margin-left: 19px;
  margin-right: 19px;
}

#googleMap {
  width: 100%;
  height: 600px;
}

#feature-checklist {
  overflow-y: scroll;
  border-style: solid;
  height: 554px;
  padding: 20px;
}

label img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.features-display img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.pano {
  width: 100%;
  height: 250px;
}

.page-pano {
  width: 100%;
  height: 400px;
}

#park-page {

}

#park-page h1 {
  text-align: center;
}

.page-map {
  width: 100%;
  height: 40rem;
}

.fontImg img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  line-height: 80%;
}

#about-us {
  text-align: center;
}

@media (min-width:770px) and (max-width: 1070px) {
  .main-nav ul li {
    display: none;
  }
  #logo {
    display: inline;
    width: 65.3333333333%;
  }
  #weather {
    width: 30.6666666667%;
  }
}

@media (max-width: 770px) {
  .main-nav ul li {
    display: none;
  }
  #logo {
    display: inline;
    width: 100%;
  }
  #weather {
    display: none;
  }
  #googleMap {
    width: 100%;
    
  }
}
